<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaskアプリケーション</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/character.css') }}">
</head>
<body>
    <header>
        <img class="logo" src="/static/images/logo.png">
    </header>
    <div class="main_body">
        <div class="story_in_image">
            <img class="pc_img" src="/static/images/aono.png">
            <p class="aono">青野葉月</p>
        </div>
        <div class="story_in_image">
            <img class="pc_img" src="/static/images/aiguchi.png">
            <p class="aiguchi">藍口菜野香</p>
        </div>
        <div class="story_in_image">
            <img class="pc_img" src="/static/images/akamathu.png">
            <p class="akamathu">赤松怜弥</p>
        </div>
        <div class="story_in_image">
            <img class="pc_img" src="/static/images/ouda.png">
            <p class="ouda">黄田北斗</p>
        </div>
        <div class="story_in_image">
            <img class="pc_img" src="/static/images/kaneda.png">
            <p class="kaneda">金田陽弥</p>
        </div>
        <div class="story_in_image">
            <img class="pc_img" src="/static/images/ginnbayashi.png">
            <p class="ginnbayashi">銀林輝瑠</p>
        </div>
        <div class="story_in_image">
            <img class="pc_img" src="/static/images/kuroda.png">
            <p class="kuroda">黒田透弥</p>
        </div>
        <div class="story_in_image">
            <img class="pc_img" src="/static/images/shizuya.png">
            <p class="shizuya">紫津谷大河</p>
        </div>
        <div class="story_in_image">
            <img class="pc_img" src="/static/images/sirogaki.png">
            <p class="sirogaki">白垣玲</p>
        </div>
        <div class="story_in_image">
            <img class="pc_img" src="/static/images/touma.png">
            <p class="touma">橙馬凛太郎</p>
        </div>
        <div class="story_in_image">
            <img class="pc_img" src="/static/images/midorikawa.png">
            <p class="midorikawa">緑川光太郎</p>
        </div>
        <div class="story_in_image">
            <img class="pc_img" src="/static/images/momoi.png">
            <p class="momoi">桃井彩冬</p>
        </div>

    </div>
    <a class="btn_a" href="/movie_0530">次へ</a>
    
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>
