<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaskアプリケーション</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/story.css') }}">
</head>
<body>
    <header>
        <img class="logo" src="/static/images/logo.png">
    </header>
    <div class="main_body">
        <!-- <h2>注意事項！</h2> -->
        <p>気がつくと14号館の6階にいた．そうだ研究室見学に来たのだった．</p>
        <p>自分の目的を再確認する．慣れない場所で少しぼーっとしていたようだ</p>
        <p>フロアマップと部屋番号を確認している間に研究室に入っていく人が見えたので誰もいないことはなさそうだ．</p>
        <p>緊張しながら研究室のドアを開ける</p>
        <p>ドアの先，研究室内を見渡すと二人の女性がいた</p>
        <p>どこか見覚えがあるような，ないような・・・きっと気のせいだろう</p>
        <p>藍口「あ！もしかして3年生？研究室見学に来たの？」</p>
        <p>明るい声に頷く</p>
        <p>青野「そこで靴を脱いで，横の靴箱に入れてね〜場所は適当でいいから！」</p>
        <p>藍口「いらっしゃい〜！ようこそ菱田研へ！」</p>
        <p></p>
    </div>
    <a class="btn_a" href="/ending_story3">次へ</a>
    
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>
