<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaskアプリケーション</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/story.css') }}">
</head>
<body>
    <header>
        <img class="logo" src="/static/images/logo.png">
    </header>
    <div class="main_body">
        <!-- <h2>注意事項！</h2> -->
        <p>青野「事件というより事故・・・だね・・・</p>
        <p>真相はわかったけどここからどうすれば・・・」</p>
        <p>悩む先輩を横目にプログラムを触った</p>
        <p>先輩の言葉を思い出す</p>
        <p>「私の作ったプログラムを使って過去に干渉して欲しい」</p>
        <p>ということはこのプログラムに過去に干渉する機能があるはずだ</p>
        <p>先ほどからずっと目についていたペンギンのボタンを押すと映像内で音楽が流れた</p>
        <p>思わずびっくりして声が出る</p>
        <p>青野「うわっ，びっくりした〜！え？このペンギンのボタンを押したら音楽が流れた・・・？</p>
        <p>もしかしたらこれが菜野香ちゃんの言ってた過去に干渉する機能かも・・・</p>
        <p>なら早速やるしかないね！」</p>
        <p>先輩の言葉に頷く</p>
        <p>そして，表示させる映像を事件の発生直前まで戻した．</p>
        <p>ここで音を鳴らせば何か変わるかもしれない</p>
        <p>映像は藍口と白垣が会話している最中だ．恐る恐るボタンを押す</p>
        <p>映像の中の二人も突然流れた音楽にびっくりしているようだ</p>
        <p>驚いた白垣は怖がりながら研究室を飛び出して行った．幽霊か何かかと思ったのかもしれない</p>
        <p></p>
    </div>
    <a class="btn_a" href="/ending_story2">次へ</a>
    
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>
