<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaskアプリケーション</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/story.css') }}">
</head>
<body>
    <header>
        <img class="logo" src="/static/images/logo.png">
    </header>
    <div class="main_body">
        <!-- <h2>注意事項！</h2> -->
        <p>青野「そっか，直せないか・・・どうしよう・・・・・・」</p>
        <p>明らかに顔色が悪くなっていく先輩に声をかける</p>
        <p>青野「え？他のエラーが直れば，あのエラーが直せるかも・・・？本当！？</p>
        <p>よし！じゃあ一番古い映像から見ていって，エラーが出る場所を探そう！</p>
        <p>そしたら事件発生時の映像も見れるようになるかも！」</p>
        <p>こうして，先輩とともに菱田研の映像を見ていくことになった．</p>
    </div>
    <a class="btn_a" href="/movie_0523">次へ</a>
    
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>
