<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaskアプリケーション</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/story.css') }}">
</head>
<body>
    <header>
        <img class="logo" src="/static/images/logo.png">
    </header>
    <div class="main_body">
        <!-- <h2>注意事項！</h2> -->
        <p>14号館，まだ新築の匂いが漂うこの棟の６階，菱田研の前に来た</p>
        <p>そう，今日は研究室見学．</p>
        <p>フロアマップと部屋番号を確認している間に研究室に入っていく人が見えたので誰もいないことはなさそうだ．</p>
        <p>緊張しながら研究室のドアを開ける</p>
        <p>ドアの先，研究室内を見渡すと青ざめた顔で立ち尽くす女性がいた</p>
        <p>自分の存在に気づいた女性は震えながら指を刺す</p>
        <p>指の先には倒れている人がいた・・・</p>
    </div>
    <a class="btn_a" href="/intro_story2">次へ</a>
    
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>
