<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaskアプリケーション</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/story.css') }}">
</head>
<body>
    <header>
        <img class="logo" src="/static/images/logo.png">
    </header>
    <div class="main_body">
        <!-- <h2>注意事項！</h2> -->
        <p>???「わ，私じゃないんです！研究室に来たらもうこうなってて・・・」</p>
        <p>表情や声色から察するに本当のようだ</p>
        <p>服装から見ても自分が入る前に入っていた人だ</p>
        <p>???「私，菱田研4年の青野葉月（あおのはづき）です．」</p>
        <p>二人で倒れている人に駆け寄る．脈がない，死んでいるようだ</p>
        <p>青野「この子，藍口菜野香って子で，私の研究の相方なんだ．研究の打ち合わせをするために集まる予定だったんだけど・・・なんでこんなことに・・・</p>
        <p>それより警察とか救急車・・・・・・ん？」</p>
    </div>
    <a class="btn_a" href="/intro_story3">次へ</a>
    
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>
