<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaskアプリケーション</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/story.css') }}">
</head>
<body>
    <header>
        <img class="logo" src="/static/images/logo.png">
    </header>
    <div class="main_body">
        <h2>タイトル：20230530</h2>
        <p>次の映像は4人ずつ3組に分かれてテーブルに座っている様子が映った．</p>
        <p>顔合わせの時と座り方が違う</p>
        <p>何かテーブルごとに話しているようだ</p>
        <p>青野「これは・・・チーム開発した時の映像みたいだね！</p>
        <p>（チーム開発の期間）かけてチームごとに何か開発するって課題が出たんだ</p>
        <p>KK2人，KX4人の計4人でチームを組んでたから初めて話す人もいたな〜</p>
        <p>チームごとにテーブルに座ってるんだよ」</p>
        <p>先輩が懐かしそうに話をする．</p>
        <p>被害者と同じチームなのは黄田，白垣，橙馬の3人だ</p>
        <p>事件の犯人の可能性があるから覚えておこう</p>

    </div>
    <a class="btn_a" href="/mystery1">次へ</a>
    
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>
