<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaskアプリケーション</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/story.css') }}">
</head>
<body>
    <header>
        <img class="logo" src="/static/images/logo.png">
    </header>
    <div class="main_body">
        <h2>タイトル：20230523</h2>
        <p>一番古いのはちょうど11ヶ月前くらいの映像だった．</p>
        <p>明らかに気まづい空気が流れているのがわかる</p>
        <p>青野「うわ，これ配属決定後の研究室での顔合わせの映像だ，懐かし〜</p>
        <p>初対面の人が多かったからみんなあんまり話さなかったんだよね</p>
        <p>これに関しては他の研究室も同じなんだろうな〜」</p>
        <p>pcのメンバーの顔と名前を確認した．</p>
    </div>
    <a class="btn_a" href="/character">次へ</a>
    
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>
