<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaskアプリケーション</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/story.css') }}">
</head>
<body>
    <header>
        <img class="logo" src="/static/images/logo.png">
    </header>
    <div class="main_body">
        <h2>タイトル：20231128</h2>
        <p>服装から季節の変化を感じる．冬になった頃の映像だ．</p>
        <p>青野「これは調査学習の映像かな？</p>
        <p>ん？調査学習って何かって？</p>
        <p>調査学習は毎週2枚の論文や記事をまとめてくるか，技術の再現をするかして報告書にまとめてくることのことだよ．</p>
        <p>卒業研究や制作のテーマ決めの参考になる結構大事なものなんだ．</p>
        <p>大変だったけど慣れたら簡単だったよ！その先の研究の方が大変！</p>
        <p>ちなみに菱田研の報告書はテンプレートが用意されているんだ．</p>
        <p>それ通りに書けばそんなに難しくないよ！</p>
        <p>研究室見学ようにみんなの報告書をプリントしてホワイトボードに貼ってあるんだ．」</p>
        <p></p>
    </div>
    <a class="btn_a" href="/movie_0111">次へ</a>
    
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>
