<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaskアプリケーション</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/story.css') }}">
</head>
<body>
    <header>
        <img class="logo" src="/static/images/logo.png">
    </header>
    <div class="main_body">
        <h2>タイトル：20230613</h2>
        <p>たこ焼き器を囲んでみんなで話しているようだ</p>
        <p>離れたテーブルでは先生と一緒に麻雀をしている人もいる</p>
        <p>青野「これは・・・タコパした時だね！</p>
        <p>菱田研自体あまり先輩後輩で関わりがある研究室じゃないから新歓がなくてさ，自分たちと先生でやったんだよね．</p>
        <p>今年は新歓やりたい！って菜野香ちゃんが言ってたけどどうなるのかな・・・」</p>
    </div>
    <a class="btn_a" href="/movie_0711">次へ</a>
    
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>
