<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaskアプリケーション</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/story.css') }}">
</head>
<body>
    <header>
        <img class="logo" src="/static/images/logo.png">
    </header>
    <div class="main_body">
        <h2>タイトル：20240130</h2>
        <p>エラーを修正すると映像が映し出される</p>
        <p>タイトルからして3年の終わり頃だろう</p>
        <p>複数人で発表してる人と一人で発表している人がいるようだ</p>
        <p>青野「なんでグループの人ちそうじゃない人がいるのかって？</p>
        <p>もうこの頃には研究や制作の方向性が定まってきてるから同じ分野だとグループを組んでいたりするよ！</p>
        <p>一緒にやりたいことがあって組むタイプもあるかな．</p>
        <p>うちの研究室は先輩から研究を引き継ぐことは滅多にないから自分たちで1から研究テーマを決めていくよ！</p>
        <p>基本研究，制作として成り立つものであればなんでもできるのがうちの研究室の特徴かな」</p>
    </div>
    <a class="btn_a" href="/before_last_story1">次へ</a>
    
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>
