<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaskアプリケーション</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/story.css') }}">
</head>
<body>
    <header>
        <img class="logo" src="/static/images/logo.png">
    </header>
    <div class="main_body">
        <h2>タイトル：20240111</h2>
        <p>フライパンでお好み焼きを焼いているようだ</p>
        <p>みんなでゲームをしたりと和気あいあいとした雰囲気を感じる</p>
        <p>研究室にフライパンがあるのが意外だ</p>
        <p>青野「研究室には流しとIHとか電子レンジとかちょっとした料理ができる道具は揃ってるよ！材料は自分たちで持ち込んでるかな</p>
        <p>何かあったら大変だし，料理をするときは先生の許可をもらっているよ</p>
        <p>ゲームは自分のを持ち込めばできるよ！そういえば本棚あたりに先生のレトロゲームが置いてあったはずなんだけどあれ使えるのかなぁ・・・」</p>
    </div>
    <a class="btn_a" href="/mystery2">次へ</a>
    
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>
