<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaskアプリケーション</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/story.css') }}">
</head>
<body>
    <header>
        <img class="logo" src="/static/images/logo.png">
    </header>
    <div class="main_body">
        <div class="story_in_image">
            <img class="mystery1_img" src="/static/images/mystery31.png">
        </div>
        <h2>謎0</h2>
        <p></p>
        <div class="story_in_image">
            <img class="mystery1_img" src="/static/images/mystery00.jpg">
        </div>
        <h2>最後の謎の片割れ</h2>
        <p>QRコードの場所がわかったら</p>
        <p>真相を確かめるため</p>
        <p>スキャンしにいこう！</p>
        
    </div>
    <!-- 次 movie_0130.html-->
    
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>
